.my-button {
    all: revert;
    color: #679aa4;
    border: none;
    border-radius: none;
    background-color: transparent;
    transition: 0.3s all ease;
    text-decoration: none;
    background-color: transparent;
    font-size: 1.75rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    outline: none;
}

my-button.pointer {
    cursor: pointer;
}

.my-button:active {
    border: 0px;
    box-shadow: none;
    text-decoration: none;
    outline: none;
}

my-button:hover {
    color: #5e8c96;
    cursor: pointer;
    transition: 0.3s all ease;
    text-decoration: none;
    outline: none;
}
